.button.shadow {
    box-shadow: 0 0 10px 0 rgb(95, 2, 148);
}

.button {
    border-radius: 5px;
    background-color: #fceeff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}